.main-page{
    margin: 0;
    padding: 0;
    max-width:100vw;
    overflow-y: hidden;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

.main-page-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-page-section{
    /* margin-top: 100px; */
    margin-top: 160px;
    position: relative;
    width: 60%;
    /* height: 84%; */
    height: 88%;
    display: flex;
    background-color: #730000;
    
    border-radius: 20px;
    align-items: center;
    /*justify-content: center;*/
    justify-content: flex-start;
    flex-direction: column;
}

